{% extends '@Pimterest/base.html.twig' %}

{% block container %}
    <div id="map-container">
        <div id="google-map"></div>
    </div>
{% endblock %}

{% block inline_javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/pimterest/js/Autolinker.min.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyDGXvYsnnz5wawPSOZBygS6KwAwXAVVKgk"></script>
    <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/pimterest/js/templates/info-window.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pimterest/lib/clearbox.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pimterest/js/markerclusterer_compiled.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/pimterest/js/view-map.js') }}"></script>
{% endblock %}

{% block inline_bodyclass %}map{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
